.loginConfirmation_container {
    width: 350px;
    min-height: 200px;
}

.modal-button-confirm {
    background-color: #3672b3;
    color: #fff;
    padding: 5px 15px;
    float: right;
    font-size: 1.15rem;
    border-radius: 5px;
    border: none;
}
.modal-message{
    font-size: 20px;
    font-weight: 500;
}
.ant-modal .ant-modal-close-x {
    display: flex;
    font-size: 16px;
    font-style: normal;
    line-height: 32px;
    justify-content: center;
    text-transform: none;
    text-rendering: auto;
    display: none !important;
}

.ant-modal .css-tpassh{
    width: auto !important;
}

.modal-message-content{
    font-size: 16px;
    font-weight: 400;
    /* margin:0px 5px; */
}
.modal-message-content-description{
    font-size: 16px;
    font-weight: 500;
    margin-top: -5px;
}
.notes_container{
    font-size: 15px;
    font-weight: 400;
}
.modal-actions-login-btn{
    display: flex;
    justify-content: space-between;
}