.preview_pdf_container {
    margin-top: 5px;
    min-height: 540px;
    min-width: 550px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 450px;
    height: 125vh;
}

.button_container {
    margin-top: 10px;
    display: flex;
    gap: 4px;
}

.meta_title_notes{
    font-size: 13px;
    color: rgb(106, 106, 106);
    font-weight: 600;
    margin-bottom: -10px;
}