.table-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;

}

/* Dropdown container */
.dropdown-container {
  display: flex;
  align-items: center;
}

.dropdown-container label {
  margin-right: 5px;
}

.dropdown-container select {
  padding: 5px;
}

/* Pagination container */
.pagination-container {
  display: flex;
  align-items: center;
  margin-right: 13%;
  
}

.pagination-button {
  /* padding: 5px 10px; */
  border-radius: 8px;
  margin: 0 5px;
  background-color: white;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button i {
  color: black;
}

.dropdown-container select {
  border: none;
  border-bottom: 1px solid black;
}

.page-info {
  padding: 5px;
  margin: 0 2px;
  margin-right: 15px;
  margin: 0 5px;
  
}

.page-info.active {
  font-weight: bold;
  text-decoration: underline;
}


.custom-sort-icons {
  margin-left: 5px;
  
}

.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  /* padding: 0 10px; */
  
}

.custom-header span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
}
.cell-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
